# ClickHouse connection settings
# Скопируйте этот файл в созданный у себя .env и заполните свои данные

CLICKHOUSE_HOST=your_clickhouse_host
CLICKHOUSE_DATABASE=your_database_name
CLICKHOUSE_USER=your_username
CLICKHOUSE_PASSWORD=your_password
